<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bratva Family</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/generalStyles.css" />
    <link rel="stylesheet" href="/styles/dashboard.css" />
    <!-- chart js cdn -->
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"
      integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <header>
      <%- include('partials/nav', { user: user }) %>

      <div class="page_detials container">
        <p>Bratva Family</p>
        <h2>Tableau de bord</h2>
      </div>
    </header>

    <!-- Main dashboard -->
    <main class="dashboard-wrapper container">
      <div class="dashboard_top">
        <div class="dashboard_top-left">
          <div class="box-bg chart-box-container">
            <h4 class="heading-4 pad-22">
              Utilisateurs <br />
              <span class="box-count"> <%= users.length%> </span>
            </h4>
            <div class="chart-box">
              <canvas id="registrationChart"></canvas>
            </div>
          </div>
          <div class="box-bg"><h4 class="heading-4"></h4></div>
        </div>
        <div class="box-bg admin-addProduct-box">
          <h4 class="heading-4">
            Créditer mon compte <br />
            <span class="box-count" ><%= user.balance %>€</span>
          </h4>

          <a href="/deposits">

            <button class="btn btn-black">
              <i class="ri-money-dollar-circle-line"></i> Créditer mon compte
            </button>
          </a>
          <div class="bg-icon">
            <i class="ri-wallet-line"></i>
          </div>
        </div>
      </div>
      <div class="dashboard_bottom">
        <!-- Show announcements -->
        <div class="show-announcements-container box-bg">
          <h2>Announcements</h2>
          <div class="announcements_boxes">
            <% for(let [index,announcement] of announcements.entries()){ %>
            <div class="announcement-box">
              <i class="ri-megaphone-line"></i>
              <!-- <p><%= index +1 %></p> -->
              <p><%= announcement.description %></p>
            </div>
            <%}%>
          </div>
        </div>

        <div class="chart_stats box-bg">
          <h2 class="chart_stats-title">Statistiques des level</h2>

          <div class="chart_stats-container">
            <canvas id="levelChart"></canvas>
          </div>

          <div class="chart_stats-legend">
            <span class="chart_stats-legend-item classic">Qonto</span>
            <span class="chart_stats-legend-item gold">Shine</span>
            <span class="chart_stats-legend-item business">Finom</span>
            <span class="chart_stats-legend-item infinite">Pennylane</span>
          </div>

          <div class="chart_stats-list">
            <div class="chart_stats-item classic-item">
              <span>🛡 Qonto</span>
              <span>50%</span>
            </div>
            <div class="chart_stats-item gold-item">
              <span>⚙ Shine</span>
              <span>33%</span>
            </div>
            <div class="chart_stats-item business-item">
              <span>🏢 Finom</span>
              <span>10%</span>
            </div>
            <div class="chart_stats-item infinite-item">
              <span>🚨 Pennylane</span>
              <span>7%</span>
            </div>
          </div>
        </div>
      </div>
    </main>

        <!-- footer -->
        <%- include('partials/footer') %>

        <!--End  footer -->

    <script>
      const ctx = document.getElementById("levelChart").getContext("2d");

      new Chart(ctx, {
        type: "doughnut",
        data: {
          labels: ["QONTO", "SHINE", "FINOM", "PENNYLANE"],
          datasets: [
            {
              data: [50, 33, 10, 7], // Sample data
              backgroundColor: ["#dcdcdc", "#2E5BFF", "#1951A3", "#D92525"],
              hoverOffset: 5,
            },
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: { display: false }, // Hide default legend
          },
          cutout: "70%", // Create a doughnut effect
        },
      });

     
    </script>
    <script src="/js/chart.js"></script>
    <script src="/js/base.js"></script>
  </body>
</html>
