<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bratva Family</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/generalStyles.css" />
    <link rel="stylesheet" href="/styles/dashboard.css" />
  </head>
  <body>
    <header>
      <%- include('partials/nav', { user: user }) %>

      <div class="page_detials container">
        <p>Bratva Family</p>
        <h2>Mon profile</h2>
      </div>
    </header>

    <!-- Main dashboard -->
    <main class="container profile_section dashboard-wrapper">
      <div id="errorMessageFloat" class="width-100">
        <p class="error"></p>
        <span><i class="ri-close-line"></i></span>
      </div>
      <div class="profile_left box-bg">
        <a href="/profile">
          <div class="profile_left-box active">
            <p><i class="ri-user-line"></i> <span>Mon profile</span></p>
          </div>
        </a>

        <a href="/profile/pass">
          <div class="profile_left-box">
            <p>
              <i class="ri-lock-2-line"></i>
              <span>Modifier mon mot de passe</span>
            </p>
          </div>
        </a>
      </div>
      <div class="profile_right box-bg">
        <h4>Informations du compte</h4>
        <div class="profile_right-boxes box-bg">
          <div class="profile_right-box">
            <i class="ri-user-line"></i>
            <div class="p-r-detail">
              <p>Username:</p>
              <span class="p-r-detail-value"><%= user.username %></span>
            </div>
          </div>
          <div class="profile_right-box">
            <i class="ri-wallet-line"></i>
            <div class="p-r-detail">
              <p>Balance:</p>
              <span class="p-r-detail-value"><%= user.balance %>€</span>
            </div>
          </div>
          <div class="profile_right-box">
            <i class="ri-time-line"></i>
            <div class="p-r-detail">
              <p>Date d'inscription:</p>
              <span class="p-r-detail-value"
                ><%= new Date(user.createdAt).toLocaleDateString('en-GB')
                %></span
              >
            </div>
          </div>
          <div class="profile_right-box">
            <i class="ri-list-check-3"></i>
            <div class="p-r-detail">
              <p>Total des dépôts:</p>
              <span class="p-r-detail-value" id="p-r-deposits"></span>
            </div>
          </div>
          <% if (user.telegram){%>
          <div class="profile_right-box">
            <i class="ri-telegram-2-line"></i>
            <div class="p-r-detail">
              <p>Telegram:</p>
              <span class="p-r-detail-value"><%= user.telegram %></span>
            </div>
          </div>
          <% } %>
          <div class="profile_right-box">
            <i class="ri-hotel-line"></i>
            <div class="p-r-detail">
              <p>Total des commandes:</p>
              <span class="p-r-detail-value"><%= user.totalOrders %></span>
            </div>
          </div>
        </div>
      </div>
    </main>

      <!-- footer -->
      <%- include('partials/footer') %>

      <!--End  footer -->

    <script>


      //   Calling calculateDeposit's API
      const calculateDepositFunc=async()=>{
          try{

            const res = await fetch('/deposits/api/user/total-deposits', {
              method: 'GET',
            });
            const data = await res.json();
            if(data.totalDeposits){
              document.querySelector('#p-r-deposits').textContent=`${data.totalDeposits}€`
            }else if(data.totalDeposits==0){
              document.querySelector('#p-r-deposits').textContent=`${data.totalDeposits}€`
            }else{
              messageDisplay("Error fetching total deposits!", "red");
            }
          }catch(error){
            messageDisplay(`Error: ${error}`, "red");
            console.log('Error fetching data')
          }
        }
      calculateDepositFunc()
    </script>
    <script src="/js/base.js"></script>
  </body>
</html>
