<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bratva Family</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/generalStyles.css" />
    <link rel="stylesheet" href="/styles/dashboard.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <div class="nav_left">
            <a href="/dashboard">
              <img src="img/logo.png" alt="Bratva logo" width="120" />
            </a>
            <ul>
              <li>
                <a href="/dashboard"><i class="ri-home-5-line"></i> Accueil</a>
              </li>
              <li>
                <a href="/products"
                  ><i class="ri-government-line"></i> Produits</a
                >
              </li>
              <li>
                <a href="/orders"
                  ><i class="ri-shopping-cart-line"></i> Mes achats</a
                >
              </li>
              <li>
                <a href="/support">
                  <i class="ri-customer-service-2-line"></i> Support
                </a>
              </li>
            </ul>
          </div>

          <div class="nav_right">
            <ul>
              <li class="nav_cart">
                <a href="/cart"
                  ><i class="ri-shopping-cart-line"></i>
                  <span class="cart_item-count">2</span></a
                >
              </li>
              <li>
                <div class="profile_nav-card">
                  <img
                    src="img/resource-database-26KGWLCbX7o-unsplash.jpg"
                    alt=""
                    width="30"
                  />
                  <div class="profile-details">
                    <p class="username"><%= user.username%></p>
                    <p class="available_money"><%= user.balance%>€</p>
                  </div>

                  <div class="profile_card-sub">
                    <ul>
                      <li>
                        <a href="/profile"
                          ><i class="ri-user-settings-line"></i> Profile</a
                        >
                      </li>
                      <li>
                        <a href="/deposit"
                          ><i class="ri-wallet-line"></i> Portefeuille</a
                        >
                      </li>
                      <li>
                        <a href="/logout"
                          ><button>
                            <i class="ri-logout-box-r-line"></i> Déconnexion
                          </button></a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="page_detials container">
        <p>Bratva Family</p>
        <h2>All Products</h2>
      </div>
    </header>

   
    <main class="container dashboard-wrapper">
      <div id="errorMessageFloat" class="width-100 ">
        <p class="error"></p>
        <span><i class="ri-close-line"></i></span>
      </div>
     
      <div class="thank-you-container box-bg">

      <i class="ri-checkbox-circle-line"></i>
      <h1>Order Successful</h1>
      <p>Thank You for your purchase!</p>

      <section class="box-bg thank-you-order_details">
        <div class="show-product-model-conten">
          <!-- order summary -->
          <div class="orderSummary-head">
            <h3 class="heading-4">
              <i class="ri-shopping-cart-2-line"></i>
              Order Details
            </h3>
          </div>
  
          <div class="orderSummary-body">
            <div class="orderSummary-box">
              <h4>Nom</h4>
              <p class="productName"><%= product.name%></p>
            </div>
            <div class="orderSummary-box">
              <h4>Description d'activité</h4>
              <p class="productDescription"><%= product.description%></p>
            </div>
            <div class="orderSummary-box">
              <h4>FORME</h4>
              <p class="productType"><%= product.type%></p>
            </div>
            <div class="orderSummary-box">
              <h4>Capital social</h4>
              <p class="productCapitalSocial"><%= product.socialCapital%></p>
            </div>
            <div class="orderSummary-box">
              <h4>Prix</h4>
              <p class="productPrice"><%= product.price%></p>
            </div>
          </div>
  
        </div>
        <!-- Your Balance -->
        <!-- Total  -->
        <!-- Buy now -->
      </section>
      <div class="download_container">
        <p>Click the button below to download your file. <i class="ri-arrow-down-line"></i></p>
       <a href="/download/<%=product._id%>"><button class="btn btn-bg">Download</button></a>
      </div>
    </div>

    </main>

  

    <script src="/js/base.js"></script>
  </body>
</html>
